In [1]:
# 291
f = open("C:/Users/z085620/Desktop/mesu1.txt", mode="wt", encoding="utf-8")

In [2]:
f.write("005930\n")

7

In [3]:
f.write("005380\n")

7

In [4]:
f.write("035420")

6

In [5]:
f.close()

In [6]:
# 292
f = open("C:/Users/z085620/Desktop/mesu2.txt", mode="wt", encoding="utf-8")

In [8]:
f.write("005930 samsung\n")

15

In [9]:
f.write("005380 hyundai\n")

15

In [10]:
f.write("035420 naver\n")

13

In [11]:
f.close()

In [12]:
# 293
import csv

In [13]:
f = open("C:/Users/z085620/Desktop/mesu.csv", mode="wt", encoding="cp949", newline='')

In [14]:
writer = csv.writer(f)

In [15]:
writer.writerow(["종목명", "종목코드", "PER"])

14

In [16]:
writer.writerow(["삼성전자", "005930", 15.59])

19

In [17]:
writer.writerow(["NAVER", "035420", 55.82])

20

In [18]:
f.close()

In [19]:
# 294
f = open("C:/Users/z085620/Desktop/mesu1.txt", encoding="utf-8")

In [21]:
lines = f.readlines()

In [22]:
codes = []

In [23]:
for line in lines:
    code = line.strip()
    codes.append(code)

In [24]:
print(codes)

['005930', '005380', '035420']

In [25]:
f.close()

In [26]:
# 295
f = open("C:/Users/z085620/Desktop/mesu2.txt", encoding="utf-8")

In [27]:
lines = f.readlines()

In [28]:
data = {}

In [29]:
for line in lines:
    line = line.strip()
    k, v = line.split()
    data[k] = v

In [30]:
print(data)

{'005930': 'samsung', '005380': 'hyundai', '035420': 'naver'}

In [31]:
f.close()

In [32]:
# 296
per = ["10.31", "", "8.00"]

In [34]:
for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [40]:
# 297
new_per = []

In [41]:
for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

In [42]:
print(new_per)

[10.31, 0, 8.0]

In [43]:
# 298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("Do not divide 0")

Do not divide 0

In [44]:
# 299
data = [1, 2, 3]

In [46]:
for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [49]:
# 300
for i in per:
    try:
        print(float(i))
    except ValueError as e:
        print(e)
    else:
        print("OK")
    finally:
        print("Done")

10.31
OK
Done
could not convert string to float:
Done
8.0
OK
Done